{% extends "layouts/base.html" %}
{% block head_extensions %}
<meta name="description" content="Josiah Putman's personal website." />
<link href="https://katsutoshii.github.io" rel="me" />
{% endblock head_extensions %}
{% block content %}
{% set interests = load_data(path="/content/interests.toml") %}
<div>
    <h1 class="interests-title">Josiah Putman</h1>
    <div class="profile-pic-wrapper">
        <img src="/assets/profile-square.jpg" class="profile-pic" alt="Profile Picture" width="200" height="200" />
    </div>
    <div class="about-text">
        Senior Software Engineer at Google
    </div>
    <div class="about-sub-text">
        Building NLP systems and predictive AI for Search and Maps applications
        <br />
        <a class="button button--big" href="/assets/josiah-putman-resume.pdf">Resume <img class="button__icon"
                src="/assets/download.svg" alt="heart icon"></a>
    </div>
    <hr class="interests-hr">
    <h1 class="interests-title">Areas of Interest</h1>
    <div class="interest-list">
        {% for interest in interests.links %}
        {% if interest.reverse %}
        <div class="interest-container interest-container-reverse">
            <div class="interest-image">
                <img src="{{ interest.image }}" class="interest-img" alt="{{ interest.image_alt }}" width="444"
                    height="226" />
            </div>
            <div class=" interest-text">
                <h2 class="interest-title">{{ interest.title }}</h2>
                <div class="interest-description">{{ interest.description }}</div>
            </div>
        </div>
        {% else %}
        <div class="interest-container">
            <div class=" interest-text">
                <h2 class="interest-title">{{ interest.title }}</h2>
                <div class="interest-description">{{ interest.description }}</div>
            </div>
            <div class="interest-image">
                <img src="{{ interest.image }}" class="interest-img" alt="{{ interest.image_alt }}" width="444"
                    height="226" />
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}